/* div {
    border: 1px solid red;
} */

.prod-image {
    object-fit: cover;
    max-height: 25vh;
    width: 100%;
    margin: 0 auto;
}


.showcart {
    width: 50vw;
    margin: 0 auto;
/*     border: 1px solid blue;
 */}

body {
    background-color: rgb(155, 228, 155);;
}