div {
    border: 1px solid red;
}

.prod-image {
    object-fit: cover;
    max-height: 25vh;
    width: 100%;
    margin: 0 auto;
}


.showcart {
    border: 1px solid blue;
    margin: 0 auto;
    width: 50vw;
}